@import 'gridstack/dist/gridstack.min.css';

.grid-stack {
  background: #fafad2;
}

.grid-stack-item {
  //border: 1px solid #18bc9c;
}

.grid-stack-item-content {
  text-align: center;
  background-color: #18bc9c;
}
