@use '../../styles/tokens' as *;


.layout-root {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: var(--color-bg-page);
  color: var(--color-text-primary);
  overflow: hidden;
  
}

.layout-sidebar {
  flex-shrink: 0;
  width: 240px;              // 會被 [style.width] 覆蓋
  transition: width 0.2s ease;
  background: var(--color-bg-sidebar);
  border-right: 1px solid var(--color-border-subtle);
  overflow: hidden;          // ✨ 防止內容溢出
}

.layout-main {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.layout-topbar {
  height:64px;
  width: 100%;
  border-bottom: 1px solid var(--color-border-subtle);
  background: var(--color-bg-header);
  padding: 5px var(--space-lg);
  box-sizing: border-box;
  z-index: 10;
}

.layout-content {
  flex: 1 1 auto;
  overflow: auto;
  padding: var(--space-lg);
  //background: var(--color-bg-page);
  box-sizing: border-box;
}


/* =========================
   RWD：手機 / 桌機切換
   ========================= */

/* 手機：max-width: 768px */
@media (max-width: 768px) {
  .layout-root {
    position: relative;
  }

  .layout-sidebar {
    /* 不再佔版面，改成覆蓋式抽屜 */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 70vw;
    max-width: 280px;
    height: 100vh;
    z-index: 1000;
    box-shadow: var(--shadow-md);
    background: var(--color-bg-sidebar);
    border-right: 1px solid var(--color-border-subtle);

    /* 預設收起：往左滑掉 */
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
  }

  /* collapsed === false -> is-open = true -> sidebar 滑出 */
  .layout-sidebar.is-open {
    transform: translateX(0);
  }

  .layout-main {
    height: 100vh;
  }

  .layout-content {
    padding: var(--space-md);
  }
}




/* 平板 / 桌機：≥ 769px */
@media (min-width: 769px) {
  .layout-sidebar {
    position: relative;
    transform: none;         // 取消手機的 translate
    box-shadow: none;
  }
}