@use '../../styles/tokens' as *;


.layout-root {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: var(--color-bg-page);
  color: var(--color-text-primary);
  overflow: hidden;
  
}

.layout-sidebar {
  flex-shrink: 0;
  width: 240px;              // 會被 [style.width] 覆蓋
  transition: width 0.2s ease;
  background: var(--color-bg-sidebar);
  border-right: 1px solid var(--color-border-subtle);
  overflow: hidden;          // ✨ 防止內容溢出
}

.layout-main {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;

}

.layout-topbar {
  height:64px;
  width: 100%;
  border-bottom: 1px solid var(--color-border-subtle);
  background: var(--color-bg-header);
  padding: 5px var(--space-lg);
  box-sizing: border-box;
  z-index: 10;
}

.layout-content {
  flex: 1 1 auto;
  overflow: auto;
  padding: var(--space-lg);
  background: var(--color-bg-page);
  box-sizing: border-box;
}
