@use '../../../styles/tokens' as *;

.topbar-root {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  width: 100%;
  height: 100%;
}

/* 預設（桌機、平板）：漢堡鈕不顯示 */
.topbar-root .icon-btn-menu {
  display: none;
}

/* 手機：顯示漢堡鈕 */
@media (max-width: 768px) {
  .topbar-root .icon-btn-menu {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    border-radius: var(--radius-md);
    border: none;
    background: transparent;
    padding: 4px;
    cursor: pointer;
    font-size:18px;

    &:hover {
      background: var(--color-bg-hover);
    }
  }

  .topbar-search {
    flex: 1 1 auto;
    max-width: none;

    input {
      width: 100%;
    }
  }

  // 手機：不顯示登出和日夜切換按鈕和user-name
  .topbar-root .icon-logout,
  .theme-switch,
  .user-name {
    display: none;
  }
}

.topbar-search {
  max-width: 500px;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: 6px 10px;
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border-subtle);
  background: var(--color-bg-input);

  input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    width: 170px;
  }
}

/* ⭐ 關鍵：把右邊那一整坨推到最右邊 */
.topbar-right {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  margin-left: auto;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: var(--radius-full);
}

.topbar-user {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  cursor: pointer;
}

.btn-link {
  border: none;
  background: none;
  color: var(--color-primary);
  font-size: 14px;
  cursor: pointer;
}

/* Popover 內的卡片 */
.user-menu {
  width: 320px;
  background: var(--color-bg-surface);
  border-radius: var(--radius-lg);
  padding: var(--space-lg);
}

.user-menu-header {
  display: flex;
  align-items: center;
  gap: 15px;
  //margin-bottom: var(--space-md);

  .user-menu-avatar {
    width: 48px;
    height: 48px;
    border-radius: var(--radius-full);
  }

  .user-menu-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

  .user-menu-name {
    font-weight: 600;
  }

  .user-menu-role {
    font-size: 12px;
    color: var(--color-text-subtle);
  }
}

/* 整個 Tabs */
.user-menu-tabs {
  // 定義 Tab標題列 的樣式
  .p-tab {
    //padding: 0 var(--space-md) var(--space-xs);
    font-size: 15px;
  }

  .p-tab-active {
    color: var(--color-primary);
    border-color: none;
    font-weight: 600;
    border-bottom: 2px solid var(--color-primary);
  }

  .p-tabpanels {
    padding: 0; // 內容區自己在裡面排版就好
  }
}

// Profile panel
.user-menu-panel {
  //border: 1px solid red;
  padding: var(--space-lg);

  display: flex;
  flex-direction: column;
  gap: var(--space-md);

  .user-menu-profile-row {
    display: flex;
    align-items: center;
    padding: 6px 6px;
    gap: var(--space-sm);

    .pi {
      width: 20px;
      text-align: center;
    }
  }
}

// Setting panel
.user-menu-list {
  //border: 1px solid red;
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);

  .user-menu-item {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    padding: 6px 6px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: var(--color-text-secondary);

    span:first-child {
      width: 20px;
      text-align: center;
    }

    &:hover {
      color: var(--color-primary);
      background-color: var(--color-bg-hover);
      border-radius: 5px;
      font-size: 15px;
    }
  }
}

.user-menu-footer {
  border-top: 1px solid var(--color-border-subtle);
  padding-top: var(--space-lg);
  display: flex;
  justify-content: flex-end;

  .btn-logout {
    color: var(--color-text-secondary);
    border: none;
    background: none;
    display: inline-flex;
    align-items: center;
    gap: var(--space-sm);
    cursor: pointer;
    padding: 6px 10px;
    font-size: 15px;
    font-weight: 600;

    &:hover {
      background: var(--color-bg-hover);
      border-radius: var(--radius-sm);
    }
  }
}
