<div class="topbar-root">
  <button class="icon-btn icon-btn-menu" (click)="onToggleSidebar()">☰</button>

  <div class="topbar-search">
    <span class="topbar-search-icon">🔍</span>
    <input type="text" placeholder="Ctrl + K" />
  </div>

  <div class="topbar-right">
    <p-toggleswitch
      [(ngModel)]="isDark"
      (onChange)="onThemeToggle($event.checked)"
      class="theme-switch"
    ></p-toggleswitch>

    @if (user(); as u) {
    <div class="topbar-user">
      <img class="user-avatar" [src]="u?.avatarUrl" alt="avatar" />
      <span class="user-name">{{ u?.name }}</span>
    </div>
    } @if (user()) {
    <button class="icon-btn icon-logout" (click)="logout()">
      <span class="theme-icon pi pi-sign-out"></span>
    </button>
    }
  </div>
</div>
