@use '../../../styles/tokens' as *;

.topbar-root {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  width: 100%;
  height: 100%;

}

.topbar-search {
  max-width: 500px;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: 6px 10px;
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border-subtle);
  background: var(--color-bg-input);

  input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    width: 170px;
  }
}

/* ⭐ 關鍵：把右邊那一整坨推到最右邊 */
.topbar-right {
  display: flex;
  align-items: center;
  gap: var(--space-md);
  margin-left: auto;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: var(--radius-full);
}

.topbar-user {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.btn-link {
  border: none;
  background: none;
  color: var(--color-primary);
  font-size: 14px;
  cursor: pointer;
}
